<!DOCTYPE html>
<html lang="en-NZ">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/style.css">

{% seo %}
  </head>

  <body>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <h2> Wilbur Townsend </h2>
      <p>I am a labor economist from New Zealand. I am currently a doctoral student at Harvard University, where my research focusses on wage-setting, market design and immigration.  I was raised in Motueka, the Wairarapa and the Catlins.</p>
  
        {{ content }}
    </section>
    </div>

    <!-- FOOTER  -->

  </body>
</html>
